**Data -1**

In [1]:
#Articles
art_dict = dict({
'business' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\News Articles\business"
,'ent' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\News Articles\entertainment"
,'pol' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\News Articles\politics"
,'sport' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\News Articles\sport"
,'tech' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\News Articles\tech"})

#Sumamries
sum_dict = dict({'business_summ' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\Summaries\business"
,'ent_summ' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\Summaries\entertainment"
,'pol_summ' :r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\Summaries\politics"
,'sport_summ' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\Summaries\sport"
,'tech_summ' : r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\BBC News Summary\Summaries\tech"}
)

In [2]:
art_ = list(art_dict.keys())
sum_ = list(sum_dict.keys())

In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
art_data = []
for key in art_:
    print(key)
    file_list = os.listdir(art_dict[key])
    for file in file_list:
        #print(file)
        f1 = open(art_dict[key]+"\\"+file,"r")
        art_data.append(f1.readlines())
sum_data = []
for key in sum_:
    print(key)
    file_list = os.listdir(sum_dict[key])
    for file in file_list:
        #print(file)
        f1 = open(sum_dict[key]+"\\"+file,"r")
        sum_data.append(f1.readlines())

business
ent
pol
sport
tech
business_summ
ent_summ
pol_summ
sport_summ
tech_summ

In [5]:
tad = []
for i in art_data:
    tad.append(' '.join(sent for sent in i))

In [6]:
sad = []
for i in sum_data:
    sad.append(i[0])

In [7]:
len(art_data),len(sum_data)
D1_df = pd.DataFrame()
D1_df['Text'] = tad
D1_df['Summary'] = sad

In [8]:
#D1_df

,Text,Summary
0,Ad sales boost Time Warner profit\n \n Quarter...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speech\n \n The doll...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claim\n \n The own...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profits\n \n British...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts Domecq\n \n Shares ...,Pernod has reduced the debt it took on to fund...
...,...,...
2220,BT program to beat dialler scams\n \n BT is in...,BT is introducing two initiatives to help beat...
2221,Spam e-mails tempt net shoppers\n \n Computer ...,A third of them read unsolicited junk e-mail a...
2222,Be careful how you code\n \n A new European di...,This goes to the heart of the European project...
2223,US cyber security chief resigns\n \n The man m...,Amit Yoran was director of the National Cyber ...
2224,Losing yourself in online gaming\n \n Online r...,He says that in the world of online gaming suc...

**Data -2**

In [9]:
t_df1 = pd.read_csv(r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\news_summary.csv",encoding='latin-1')
t_df2 = pd.read_csv(r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\news_summary_more.csv",encoding='latin-1')

In [10]:
D2_df = pd.DataFrame()

In [11]:
D2_df['Text'] = t_df1['ctext'].tolist()
D2_df['Summary'] = t_df1['text'].tolist()

In [12]:
tm = pd.DataFrame()

tm['Text'] = t_df2['text'].tolist()
tm['Summary'] = t_df2['headlines'].tolist()

In [13]:
D2_df = pd.concat([D2_df,tm])

In [14]:
#D2_df

,Text,Summary
0,The Daman and Diu administration on Wednesday ...,The Administration of Union Territory Daman an...
1,"From her special numbers to TV?appearances, Bo...",Malaika Arora slammed an Instagram user who tr...
2,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotels in Mumbai and other Indian cities are t...,Hotels in Maharashtra will train their staff t...
...,...,...
98396,A CRPF jawan was on Tuesday axed to death with...,CRPF jawan axed to death by Maoists in Chhatti...
98397,"'Uff Yeh', the first song from the Sonakshi Si...",First song from Sonakshi Sinha's 'Noor' titled...
98398,"According to reports, a new version of the 199...",'The Matrix' film to get a reboot: Reports
98399,A new music video shows rapper Snoop Dogg aimi...,Snoop Dogg aims gun at clown dressed as Trump ...
98400,"Madhesi Morcha, an alliance of seven political...",Madhesi Morcha withdraws support to Nepalese g...

In [15]:
Final_df = pd.concat([D1_df,D2_df])

In [17]:
#Final_df

,Text,Summary
0,Ad sales boost Time Warner profit\n \n Quarter...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speech\n \n The doll...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claim\n \n The own...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profits\n \n British...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts Domecq\n \n Shares ...,Pernod has reduced the debt it took on to fund...
...,...,...
98396,A CRPF jawan was on Tuesday axed to death with...,CRPF jawan axed to death by Maoists in Chhatti...
98397,"'Uff Yeh', the first song from the Sonakshi Si...",First song from Sonakshi Sinha's 'Noor' titled...
98398,"According to reports, a new version of the 199...",'The Matrix' film to get a reboot: Reports
98399,A new music video shows rapper Snoop Dogg aimi...,Snoop Dogg aims gun at clown dressed as Trump ...
98400,"Madhesi Morcha, an alliance of seven political...",Madhesi Morcha withdraws support to Nepalese g...

In [18]:
#Final_df.to_csv(r"C:\Users\Akhil Sanker\Desktop\seminar__\Implementation\Data_training\Final_data\working1.csv")